<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" id="WebApp_ID" version="6.0">
  <display-name>Invoice-Processing-System</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>AddInvoice</display-name>
    <servlet-name>AddInvoice</servlet-name>
    <servlet-class>com.mohit.invoice.controller.AddInvoice</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddInvoice</servlet-name>
    <url-pattern>/AddInvoice</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteInvoice</display-name>
    <servlet-name>DeleteInvoice</servlet-name>
    <servlet-class>com.mohit.invoice.controller.DeleteInvoice</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteInvoice</servlet-name>
    <url-pattern>/DeleteInvoice</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Filter</display-name>
    <servlet-name>Filter</servlet-name>
    <servlet-class>com.mohit.invoice.controller.Filter</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Filter</servlet-name>
    <url-pattern>/Filter</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Download</display-name>
    <servlet-name>Download</servlet-name>
    <servlet-class>com.mohit.invoice.controller.Download</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Download</servlet-name>
    <url-pattern>/Download</url-pattern>
  </servlet-mapping>
</web-app>